.select_city {
    text-align: center;
    padding-top: 30px;
    border:2px solid black;
    padding:10px;
  }
  
  .heading {
    color: #051921;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 40px;
  }
  .t_p3 {
    text-align: center;
    color: rgb(43, 43, 43);
    margin-top: -20px;
    font-size: 17px;
    font-family: sans-serif;
  }
  .content_img{
    position: relative;
    width: 200px;
    height: 200px;
    padding-top:50px;
    float: left;
    margin-right: 10px;
}

.content_img div{
    position: absolute;
    bottom: 0;
    right: 0;
    background: red;
    color: white;
    margin-bottom: 5px;
    font-family: sans-serif;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: visibility 0s, opacity 0.5s linear;  
    transition: visibility 0s, opacity 0.5s linear;
}

.content_img:hover{
    cursor: pointer;
}    

.content_img:hover div{
    width: 150px;
    padding: 8px 15px;
    visibility: visible;
    opacity: 0.7;        
} 
.container{
  border:black 2px solid;
  margin:100px;
  padding:50px 0;
} 
.row {
    display: flex;
    justify-content: center;
  }
  .button {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .button:hover {
    background-color: #448946;
    color: white;
  }

  #btn{
    margin-top: 60px;
  }

  #overlay{
    display: none;
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: grey;


  }

  #model{
    max-width: 500px;
    height: 200px;
    margin: auto;
    background-color: white;
    position: absolute;
    justify-content: center;
    text-align: center;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
  }
p{
    text-align: center;
    font-weight: bold;
}
